<h1><%= @store.name%></h1>

<ul>
    <li>
      <%= @store.name %>
    </li>
    <li>
      <%= @store.cnpj %>
    </li>
    <li>
      <%= @store.address %>
    </li>
    <li>
      <%= @store.phone %>
    </li>
</ul> 


