

<h1><%= @store.name%></h1>
<hr>
<ul>
    <li>
      <%= @store.name %>
    </li>
    <li>
      <%= @store.cnpj %>
    </li>
    <li>
      <%= @store.address %>
    </li>
    <li>
      <%= @store.phone %>
    </li>
</ul> 
<hr>


<h3><%= @product.name%></h3>

<ul>
    <li>
      <%= @product.code %>
    </li>
    <li>
      <%= @product.ean %>
    </li>
    <li>
      <%= @product.name %>
    </li>
    <li>
      <%= @product.quantity %>
    </li>
    <li>
      <%= @product.description %>
    </li>
    <li>
      <%= @product.unity %>
    </li>
    <li>
      <%= @product.category %>
    </li>
</ul> 





